@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Try your luck with this simple slot machine game.</div>
    <div>Select Game from the menu.</div>
</div>
