@model SlotMachine.Models.BidViewModel
@{
    ViewData["Title"] = "Bid";
}

<h1>Bid</h1>

@if (Model == null || !Model.GameOver)
{
<form asp-controller="Game" asp-action="Bid" method="post">
    <div>Please enter stake:</div>
    <div class="pt-1 pb-5">
        <input type="number" name="Stake" value="" asp-for="Stake" />
        <button type="submit">Place bet</button>
        @Html.ValidationMessageFor(m => m.Stake, null, new { @class = " alert alert-warning" })
    </div>

</form>
}

@if (Model != null && Model.Table != null)
{
    <table class="table table-bordered table-condensed">
        @foreach (var row in Model.Table)
        {
            <tr>
                @foreach (var card in row.Cards)
                {
                    <td class="text-center">
                        @card.Symbol
                    </td>
                }
            </tr>
        }
    </table>
}

@if (Model != null)
{
    <div>
        Win: @Model.Win
    </div>
}

@if (Model != null)
{
    <div>Balance: @Model.Balance</div>
}

@if (Model != null && Model.GameOver)
{
    <h2>Game over!</h2>
}

@if (Model != null && Model.GameOver)
{
    <a asp-controller="Game" asp-action="NewGame" class="btn btn-info" role="button">New game!</a>
}

